html, body {
    padding: 0;
    text-align: center;
    width: 375px;
    margin: 0 auto;
    font-family: "Source Sans 3", sans-serif;
}

h3, p{
    font-size: 13px;
}

nav{
    width: 375px;
    height: 65px;
    display: flex;
    justify-content: start;
}

nav img{
   max-width: 100%;
   max-height: 100%;
}

#user-info-el{
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;;
    
}

#user-info-el img{
    margin-right: 7px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.name-location-el{
    text-align: left;
}

#name-el{
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 0;
}

#location-el{
    font-size: 12px;
    margin-top: 0;
    font-weight: 300;
}

#post-el{
    display: flex;
    position: relative;
    align-items: center;
}

#post-el img{
    width: 100%;
    height: 375px;
}

#post-el button{
    color: white;
    font-size: 50px;
    position: absolute;
    background: none;
    border: none;
    justify-content: space-between;
}

#prev-btn{
    left: 5px;
    opacity: 0%;

}

#next-btn{
    right: 5px;
    opacity: 0%;
}

#prev-btn:hover,
#next-btn:hover {
    transition: 0.5s;
    opacity: 85%;
}

.icon{
    display: flex;
}

#heart-btn:hover,
#cmnt-btn:hover,
#dm-btn:hover{
    opacity: 50%;
}

.icon-style{
    width: 25px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 12px;
    margin-left: 10px;
}

#like-counter-el{
    margin-top: 0px;
    margin-left: 13px;
    margin-bottom: 0;
    text-align: left;
}

.user-comment{
    display: flex;
    justify-content: start;
    margin-top: 0px;
    margin-left: 13px;
    margin-bottom: 20px;
}

#username-el{
    font-weight: 900;
    margin-right: 5px;
}

#comment-el {
    text-align: left;
}